<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<%= stylesheet_link_tag "LandingPage" %>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<title>Skillit - Designed by students, for Students</title>
</head>

<body>
<div class="content">
	<img class="logo"  <%=image_tag('Skillit.png')%>
	<h2>A skill networking website designed <br> by students, for students.</h2>
    <div class="signup">
    	<form action="firstname.html">
    		<%= link_to "Sign Up", "/users/sign_up" %>
        </form>
    </div>
    
    </br>
    </br>
    
    <div class="Login">
    	<p>Already have an account? <a href="">Login</a></p>
    	
    <br>
    <br>
        <form class="pure-form">
    <fieldset>
    <div id="rememberme">
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        
        <br>
        <br>
        <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label>
        </div>
    </fieldset>
</form>
    </div>
</div>
</body>
</html>
