* 
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background:rgba(213,218,228,.9);
    width: 100%; 
    top: 0;
    position: fixed; 

    }

.logo {
    
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
 
}


h1 {
    font-size: 14pt;
}
h2 {
    font-size: 14pt;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 12pt
}

body {
    width: 100%;
    margin: 0 auto;
}

#content {
    
}

asdasdasdasd


#logo {
    float: left;
    width: 10%;
    background-color: #D3D3D3;
}
#logo img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}
#searchbar {
   float: left;
    height: 100px;
    width: 90%;
    background-color: #FFFA8F;
}

.box {
    height: auto;
    margin-bottom: 10px;    
}

.column-half-1 {
    padding-top: 80px;
    width: 50%;
    float: left;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
}
#SkillsNeeded {
    width: 100%;
    float: left;
    margin-right: 0%;
    border-style: solid;
    border-color: black;
    border-top: none;
    background-color: #EDEBDB;
}
#skillsNeeded2 {
    width: 20%;
    float: left;
    margin-right: 0%;
    background-color: #EDEBDB;
}
#skills {
    width: 75%;
    float: left;
    margin-right: 0%;
    background-color: #EDEBDB;
}

.skillsbox{
    width: 45%;
    float: center;
    margin-right: 0%;
    background-color: blue;
}

img {
    width: 99%;
}

.column-quarter-1, .column-quarter-4 {
    width: 25%;
    float: left;
    background-color: #FCFBE9;
}

.column-quarter-4 {
    margin-right: 0%;
}

.column-two-thirds-1 {
    width: 64.6%;
    float: left;
    margin: 1%;
    margin-right: 0%;
    background-color: #9CFFB6;
}
#connectedMembers{
    float: left;
    margin: 0%;
    margin-right: 0%;
    background-color:#9CFFB6;
    border-style: solid;
    border-color: black;
    border-left: none;
    border-right: none;
    
}
#connectedMembers img{
    margin: 2%;
    width: 23%;
    
}
.column-third-3 {
    width: 32.8%;
    float: left;
    margin: 1%;
    margin-right: 0%;
    background-color: #9CFFB6;
}

#pageAdmin {
    margin: 1%;
    margin-right: 0%;
    background-color: #9CFFB6;
    border-style: solid;
    border-color: black;
    border-top: none;
}
 
#button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: thick;
    border-color:#3F0340;
    background-color:#846CD9
            }
.column-full {
    width: 100%;
    float: left;
    margin: 1%;
}
