* 
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background:rgba(213,218,228,.9);
    width: 100%; 
    top: 0;
    position: fixed; 
    box-shadow: 0px 0px 20px #888;

    }

.logo {
    
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
}


h1 {
    font-size: 14pt;
}
h2 {
    font-size: 14pt;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 12pt
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #EAEAEA;
}

#content {
    word-wrap: break-word;
}

#logo {
    float: left;
    width: 10%;
    background-color: #D3D3D3;
}
#logo img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}
#searchbar {
   float: left;
    height: 100px;
    width: 90%;
    background-color: #FFFA8F;
}

.box {
    height: auto;
    margin-bottom: 10px;    
}

.column-half-1 {
    padding-top: 80px;
    width: 50%;
    min-width: 600px;
    float: left;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}
#SkillsNeeded {
    width: 100%;
    float: left;
    margin-right: 0%;
    border-style: solid;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(213,218,228,.9);
}
#skillsNeeded2 {
    width: 20%;
    float: left;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
}
#skills {
    width: 75%;
    float: left;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
}

.skillsbox{
    width: 45%;
    float: center;
    margin-right: 0%;
}

img {
    width: 99%;
}

.column-quarter-1, .column-quarter-4 {
    width: 25%;
    min-width: 10%;
    float: left;
    background-color: #000000;
    display: hidden;
}

.column-quarter-4 {
    margin-right: 0%;
}

.column-quarter-2{
    width: 25%;
    height: 1000px;
    min-width: 10%;
    float: right;
    display: hidden;

}

.column-two-thirds-1 {
    width: 64.6%;
    min-width: 32.3%;
    float: left;
    margin: 1%;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
}
#connectedMembers{
    float: left;
    margin: 0%;
    margin-right: 0%;
    background-color:rgba(213,218,228,.9);
    border-style: solid;
    border-color: black;
    border-left: none;
    border-right: none;
    
}
#connectedMembers img{
    margin: 2%;
    width: 23%;
    
}
.column-third-3 {
    width: 32.8%;
    min-width: 16.4%;
    float: left;
    margin: 1%;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
}

#pageAdmin {
    margin: 1%;
    margin-right: 0%;
    background-color: rgba(213,218,228,.9);
    border-style: solid;
    border-color: black;
    border-top: none;
}
 
#button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(52,173,236);
    background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
    background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color:#fff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 2px;
    width:188px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.column-full {
    width: 100%;
    float: left;
    margin: 1%;
}
