
.content{
	background-color: #FFF;
	color: #FFF;
}
h1 {
	color: #343434;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: 100;
	display: block;

	text-align: center;
}

h2 {
	color: #343434;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: 100;
	font-style: italic;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
p.title {
	color: #343434;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 0px;
	
	text-align: center;
}

p.subtitle {
	color: #343434;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-top: 0px;
	margin-bottom: 0px;

	text-align: center;
}
