<!DOCTYPE html>
<html>
<head>
</head>

<style type="text/css">

.footer{
	
  bottom: 0;
  width: 100%;

	background: rgb(52,173,236);
  background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
  background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	height: 40px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.links{
	margin-left: auto;
  margin-right: auto;
  padding-top: .5px;
}

li {
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 0px;
}

a:hover {
	color: blue;	
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

</style>
<body>

<div class = "footer">
	<div class="links">
      	<ul>
        	<li><a href="">About</a></li>
        	<li>|</li>
        	<li><a href="">Contact</a></li>
        	<li>|</li>
        	<li><a href="">Privacy Policy</a></li>
        	<li>|</li>
        	<li><a href="">Terms & Conditions</a></li>
        </ul>
</div>

</body>
</html>
