<!doctype html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<%= stylesheet_link_tag "LandingPage" %>
<title>Skillit</title>
</head>

<body>
<div class="content">
  <h1>Welcome!</h1>
    <h3>We just have a few quick questions...</h3>
    <br>
    <h2 class="firstname">For starters, what's your first name?</h2>
  
      <input class="textbox"type="text" required>
      <button type="submit" class="pure-button pure-button-primary"><a href="#lastname">Next</button> </a>

</div>


<br>
<br>
<div class="content">
  <div id="lastname">
  <h1>Nice to meet you, firstname.</h1>
    <br>
    <h2>What's your last name?</h2>

      <input class="textbox"type="text" required>
      <button type="submit" class="pure-button pure-button-primary"> <a href="#email">Next</button> </a>

  </div>
</div>

<br>
<br>

<div class="content">
  <div id="email">
  <h1>Almost done!</h1>
    <br>
    <h2>Enter your desired login Email</h2>
    <h3>(Ithaca.edu email required)</h3>

      <input class="email-textbox" type="email" required>
      <button type="submit" class="pure-button pure-button-primary"><a href="#password">Next</button> </a>

  </div>
</div>

<br>
<br>

<div class="content">
  <div id="password">
  <h1>...one last thing</h1>
    <br>
  <br>

      <input class="email-textbox" type="password" placeholder="Password" required>
        <input class="email-textbox" type="password" placeholder="Confirm password" required>
      <button type="submit" class="pure-button pure-button-primary"> <a href= "signup_end.html">Next</button> </a>
  </div>
</div>

<br>
<br>
</body>
</html>
<%= render "users/shared/links" %>
